/* 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    align-items: start;
    width: 100%;
  } */

  .container span {
    text-align: left;
  }