.Experience{
  height: 100vh;
}

h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(0.0625turn, #c7c7c7, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 8rem;
    left: 18rem;
    width: 80%;
  }


h2 {
  font-size: 3rem;
  background: -webkit-linear-gradient(0.0625turn, #c7c7c7, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 12rem;
  left: 18rem;
  width: 80%;
}