.About {
  display: flex;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.aboutContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 6rem 4rem 4rem 4rem;
}

.aboutContent p {
  margin: 2rem 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  width: 85%;
  line-height: 1.2rem;
  color: var(--secondary-text-color);
}

.aboutContent h2 {
  position: static;
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
}

.sideBar {
  width: 14.5rem;
  height: 100vh;
  background-color: var(--background-color);
}

@media (max-width: 600px) {
  .About{
    height: 100%;
  }
  .aboutContent {
    width: 90vw;
    padding: 5rem 0;
    margin: auto;
  }
  .aboutContent p{
    width: 100%;
  }
  .sideBar{
    width: 100%;
  }
}
