.Cv {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sideBar {
  width: 14.5rem;
  height: 100vh;
  background-color: var(--background-color);
}

.cvContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem;
  margin: 1rem 0 0 0;
  /* overflow-y: scroll; */
  color: var(--secondary-text-color);
}

.cvContent p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0.5rem 0;
  text-align: left;
  width: 100%;
  line-height: 1.5rem;
}

.cvContent h2 {
  position: static;
  width: 100%;
  font-size: 2rem;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  .Cv {
    height: 100%;
  }
  .cvContent {
    width: 80vw;
    padding: 4rem 0;
    margin: auto;
  }
  .cvContent p {
    width: 100%;
  }
  .sideBar {
    width: 100%;
  }
}
