* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center; */
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #000;
  --primary-text-color: #8c8c8c;
  --secondary-text-color: #000;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --primary-button-background: rgba(189, 189, 189, 0.466);
  --primary-3dtext-color: blue;
  --primary-button-background-dark: #000;
  --primary-button-background-light: #f5f5f5;
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #9E3DFF;
  --primary-text-color: #9E3DFF;
  --secondary-text-color: #ffffff;
  --toggle-bg: #283452;
  --toggle-fg: #9E3DFF;
  --primary-3dtext-color: #f5F5F4;
  --primary-button-background-light: #000;
  --primary-button-background: rgba(189, 189, 189, 0.456);
  --primary-button-background-dark: #f5F5F4;
}