.projectsWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 2rem 0 4rem 0;
}

.Projects{
    align-items: center;
    display: flex;
    width: 80%;
    height: 60rem;
    margin: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.Projects ul{
  padding-inline-start: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.Projects li{
  width: 32rem;
  /* box-shadow: 0 0 10px black; */
}

.Projects a{
  margin: 0;
}

.sectionName{
  /* padding: 4rem 0 4rem 6rem; */
  /* width: 80%; */
}

.projectsWrapper h2{
    position: static;
    width: 100%;
    font-size: 2rem;
    margin: 2rem 0;
  }




.container{
position: absolute;
height: 30rem;
}

.element1{
width: 40rem;
height: 30rem;
background-color: aqua;
z-index: 1;
}

.element2{
width: 40rem;
height: 30rem;
background-color:aquamarine;
z-index: -1;
}

.element3{
width: 40rem;
height: 30rem;
background-color:burlywood;
z-index: -2;
}

.sectionHeader{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 22rem;
  padding: 2rem .5rem 1rem;
}

.swipeIcon{
  display: none;
  width: 3rem;
  height: 3rem;
  color: var(--secondary-text-color);

}

.glideIcon{
  width: 4rem;
  height: 4rem;
  color: var(--secondary-text-color);
  margin: 0 1rem;
}

@media (max-width: 600px) { 
  .NavBar {
    display: none;
  }
  .Projects{
    width: 90vw;
    height: 100%;
    margin: 0 auto;
  }
  .projectsWrapper{
    width: 100%;
    height: 100svh;
    margin: 1rem 0;
  }
  .projectsWrapper h2{
    margin: 1rem 1rem;
  }
  .Projects ul{
    margin: 0;
    height: 100%;
  }
  .Projects li{
    width: 90svw;
    margin: 0 1.5rem;
  }
  .Projects a{
    width: 100%;
    height: 30svh;
    /* margin: 0 1rem; */
  }
  .Projects p{
    width: 80vw;
    margin: 0;
    height: auto;
    font-size: 0.8rem;
  }
  .Projects h2{
    margin: 0;
    font-size: 1.5rem;
  }
  .toggleButton {
    display: flex;
  }
  .sectionName{
    padding: 2rem .5rem 0;
    width: 40%;
  }
  .swipeIcon{
    display: flex;
  }
  .glideIcon{
    display: none;
  }
  .sectionHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    padding: 0 0 1rem;
  }
}
