.sideBar{
    width: 14.5rem;
    z-index: 102;
    background-color: var(--background-color);
    /* height: 100svh; */
    border-right: solid 0.12rem rgba(189, 189, 189, 0.456);
  }
  
  .sideBar1{
    width: 55vw;
    background-color: var(--background-color);
    border-right: solid 0.12rem rgba(189, 189, 189, 0.456);

  }

  /* .menuWrapper{
    display: flex;
    background-color: transparent;
    height: 100%;
    width: 100vw;
  } */

  .cover{
    position: fixed;
    right: 0;
    background-color: var(--secondary-text-color);
    opacity: 70%;
    width: 100vw;
    height: 100svh;
    z-index: 101;
  }

  .menu{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 1.2rem;
    left: 1.2rem;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
  }

  .menuIcon{
    width: 2rem;
    height: 2rem;
    color: var(--secondary-text-color);
  }

  .mobileOverlay{
    width: 0;
    display: flex;
  }
  

  @media (max-width: 600px) { 
    .sideBar {
      display: none;
    }
    .sideBar1{
      /* width: 0; */
      z-index: 102;
      height: 100%;
      position: fixed;
    }
    .menu{
        display: flex;
    }
  }