.sideBar{
    width: 14.5rem;
    z-index: 100;
    background-color: var(--background-color);
    height: 100svh;
  }
  
  .sideBar1{
    width: 55vw;
    background-color: var(--background-color);
  }

  /* .menuWrapper{
    display: flex;
    background-color: transparent;
    height: 100%;
    width: 100vw;
  } */

  .cover{
    position: fixed;
    right: 0;
    background-color: var(--secondary-text-color);
    opacity: 70%;
    width: 45vw;
    height: 100%;
    z-index: 200;
  }

  .menu{
    display: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 1.2rem;
    left: 1.2rem;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
  }

  .menuIcon{
    width: 2rem;
    height: 2rem;
    color: var(--secondary-text-color);
  }
  

  @media (max-width: 600px) { 
    .sideBar {
      display: none;
    }
    .sideBar1{
      width: 0;
      z-index: 200;
    }
    .menu{
        display: flex;
    }
  }